* {
    margin: 0;
    padding: 0;
    font-family: 'LatoBold', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 89px;
    background-color: #2d303a;
    box-shadow: 0px 6px 0px #323746;
    position: fixed;
    z-index: 9;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
}

.nav {
    margin-top: 14px;
}

.nav__link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-left: 9px;
    text-decoration: none;
    color: #fff;
    letter-spacing: -0.2px;
}

.nav__link::after {
    content: '\00B7';
    font-weight: bold;
    padding-left: 14px;
    color: #494e62;
}

.nav__link:last-child::after {
    content: none;
    margin-right: 0;
}

.nav__link:hover, .active {
    color: #f1837d;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

h1::after {
    content: "*";
    color: #f06c64;
}

.slider .wrapper {
    background-color: #f06c64;
    height: 600px;
    z-index: 8;
    position: relative;
    box-shadow: 0px 6px 0px #ea676b;
}

#slider:before{
    display: block;
    content: '';
    height: 89px;
}

.arrow {
    position: absolute;
    top: 287px;
    cursor: pointer;
}

.arrow.arrow_prev {
    left: 42px;
}

.arrow.arrow_next {
    right: 40px;
}

.iPhone {
    position: absolute;
}

.iPhone_vertical {
    left: 112px;
    top: 59px;
}

.iPhone_horizontal {
    right: 111px;
    top: 180px;
}

.screens-container {
    position: relative;
    width: 188px;
    height: 333px;
    left: 86px;
    top: 124px;
    overflow: hidden;
}

.screen {
    position: relative;
    width: 188px;
    height: 333px;
}

.item {
    display: none;
    position: relative;
    animation: 0.2s ease-in-out;
    margin: 0 auto;
  }

.current,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
  
@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
}
  
@keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}

.black-screen-vertical {
    position: absolute;
    z-index: 9;
    left: 125px;
    top: 124px;
}

.black-screen-horizontal {
    position: absolute;
    z-index: 9;
    right: 202px;
    top: 193px;
}

.services .wrapper {
    background-color: #f2f2f2;
    padding-bottom: 29px;
    padding-top: 65px;
    margin-bottom: 6px;
    box-shadow: 0px 6px 0px #ffffff;
}

#services:before{
    display: block;
    content: '';
    height: 89px;
    margin: -89px 0 0;
}

.services h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.2px;
}

.services_description {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    word-spacing: 1.1px;
    margin-top: 18px;
    margin-bottom: 46px;
    text-align: justify;
    /*hide multirows overflow text*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.layout-3-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 32%;
    color: #666d89;
    margin-bottom: 33px;
}

.services-item img {
    min-width: 59px;
    margin: 1px;
}

.services-item__text {
    margin-left: 19px;
    margin-top: -3px;
    text-align: justify;
    overflow: hidden;
}

.services-item__text h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -0.1px;
    margin-bottom: 8px;
}

.services-item__text p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #767e9e;
    line-height: 21px;
    text-align: justify;
    max-height: 136px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.portfolio .wrapper {
    background-color: #2d303a;
    position: relative;
    z-index: 7;
    box-shadow: 0px 6px 0px #323746;
    padding-bottom: 47px;
    padding-top: 59px;
}

#portfolio:before{
    display: block;
    content: '';
    height: 89px;
    margin: -89px 0 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
    letter-spacing: -0.1px;
}

.portfolio_description {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #767e9e;
    margin-top: 22px;
}

.tags ul {
    display: flex;
    margin: 15px 1px 19px;
    font-size: 10px;
}

.tags ul li {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #666d89;
    border-radius: 5px;
    color: #767e9e;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transition: 0.2s linear;
}

.tags ul li:hover, .tags .active {
    cursor: pointer;
    color: #ffffff;
    border-color: #ffffff;
}

.tags ul li:nth-child(4) {
    padding-right: 5px;
}

.layout-4-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    max-height: 187px;
    overflow: hidden;
}

.layout-4-columns img:hover {
    cursor: pointer;
}

.selected-img {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}

.about-us .wrapper {
    padding-top: 65px;
    padding-bottom: 63px;
    background-color: #f2f2f2;
    box-shadow: 0px 6px 0px #ffffff;
    position: relative;
    z-index: 6;
}

#about-us:before{
    display: block;
    content: '';
    height: 89px;
    margin: -89px 0 0;
}

.about-us_description {
    margin-top: 18px;
    margin-bottom: 45px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #767e9e;
    text-align: justify;
    line-height: 30px;
}

.employee {
    max-width: 32%;
}

.employee>img {
    width: 300px;
    height: 300px;
}

.employee_info {
    margin-top: 11px;
}

.employee_info h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #666d89;
    letter-spacing: -0.2px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.employee_info p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: justify;
    word-spacing: -0.5px;
    font-family: 'Lato', sans-serif;
    color: #767e9e;
    line-height: 21px;
    margin-top: 8px;
}

.employee_contacts {
    margin-top: 24px;
}

.employee_contacts a {
    margin-right: 4px;
}

.get-quote .wrapper {
    color: #f0d8d9;
    background-color: #f06c64;
    box-shadow: 0px 6px 0px #ea676b;
    position: relative;
    z-index: 5;
    padding-bottom: 0px;
    padding-top: 65px;
}

#get-quote:before{
    display: block;
    content: '';
    height: 89px;
    margin: -89px 0 0;
}

.get-quote h2 {
    font-family: 'Lato', sans-serif;
    color: #f0d8d9;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.2px;
}

.get-quote__description {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding: 18px 0px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.layout-2-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

form {
    width: 66%;
    padding-top: 26px;
    padding-bottom: 5px;
    margin-right: 12px;
}

form input,
form textarea,
button {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #f0d8d9;
    display: block;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-bottom: 16px;
    text-indent: 15px;
    background-color: #d6564f;
}

button {
    text-transform: uppercase;
    line-height: 30px;
    color: #f48c8f;
  }

button:hover {
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s linear;
}

form input {
    line-height: 38px;
}

form textarea {
    padding-top: 10px;
    line-height: 16px;
    resize: none;
    /*fix an extra row in firefox*/
    overflow-y: hidden;  
    overflow-x: hidden;
}

form input::placeholder,
form textarea::placeholder {
  color: #f48c8f;
}

#message-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 6px;
	left: 0;
	background: #0008;
}

#message-block.hidden {
	display: none;
}

#message {
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	border: 1px solid #f48c8f;
	width: 300px;
	height: 300px;
	background: #0007;
}

#message button{
	position: absolute;
	width: 250px;
	bottom: 0px;
	left: calc(50% - 125px);
}

#message p{
	text-align: center;
}

#message span{
	display: inline-block;
	margin: 0 16px 16px;
	text-align: left;
}

.message__text {
	margin-top: 16px;
	overflow: hidden;
}

.contacts-info {
    width: 33%;
    padding-top: 24px;
    padding-left: 9px;
}

.contacts-info h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    word-spacing: 1px;
}

.contacts-info__description {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: justify;
    line-height: 21px;
    padding-top: 8px;
    word-spacing: -0.2px;
}

.contacts-info__contacts {
    margin-top: 27px;
}

.contacts-info__contacts img {
    margin-right: 7px;
}

.contacts-info__contacts a {
    text-decoration: none;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.contacts-info__contacts p {
    padding-bottom: 7px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.footer .wrapper {
    background-color: #2d303a;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer span {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #666d89;
    letter-spacing: -0.15px;
    padding-top: 5px;
    padding-left: 2px;
}

.footer img {
    padding-top: 9px;
    padding-left: 4px;
}
